.tic-tac-toe-container {
    background-image: url("../../assets/tictactoe/TicTacToe_Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Coop;
}

.table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.cell {
    background-color: rgba(0, 86, 179, 0.8);
    border-radius: 10px;
    color: white;
    font-size: 48px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cell:hover {
    background-color: rgba(0, 86, 179, 1);
    transform: scale(1.05);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center; /* Ensure text is centered */
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.alert {
    background-color: #ff5404;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.game-information-container {
    background-color: rgba(0, 86, 179, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-information-container div {
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 86, 179, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    margin: 20px auto;
}





input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
